@font-face {
    font-family: open-sans;
    src: url("../fonts/open_sans.otf");
}

@font-face {
    font-family: open-sans-italic;
    src: url("../fonts/open_sans_italic.ttf"),
}

@font-face {
    font-family: roboto-black;
    src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
    font-family: roboto-bold;
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: roboto-italic;
    src: url("../fonts/Roboto-Italic.ttf");
}

@font-face {
    font-family: roboto-medium;
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: roboto-regular;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: arm-font;
    src: url("../fonts/NOH45_AM_0.ttf");
}

@font-face {
    font-family: arial-unicode;
    src: url("../fonts/arial_unicode.TTF");
}

@font-face {
    font-family: heebo-black;
    src: url("../fonts/heebo_black.ttf.TTF");
}

html,
body {
    background: #E6E6E6 !important;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

* {
    font-family: open-sans !important;
    box-sizing: content-box !important;
}

a {
    display: inline-block;
    width: auto;
    height: auto;
    outline: none;
    text-decoration: none !important;
}

header {
    position: fixed;
    width: 100%;
    background: #7A8D9A;
    z-index: 20;
}

header nav {
	position: static;
}

.preferences {
	padding-top: 5px;
	padding-left: 5%;
	background-color: #697E8C;
}

.prefInvis {
	display: none;
}

.preferences button {
	border: none;
	background: transparent;
}

.preferences button img, .preferences div button img {
	width: 46px;
	height: 46px;
}

.black {
	-webkit-filter: invert(100%) grayscale(100%);
    filter: invert(100%) grayscale(100%);
}

.negative {
	filter: invert(1.1);
	-webkit-filter: invert(1.1);
}

.gray {
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}

.zoom {
	zoom: 200%;
}

.font_style {
	font-family: initial !important;
}

.header-lg {
	display: flex;
	justify-content: space-around;
	height: 100%;
	min-height: 178px;
}

.header-sm {
    display: none !important;
}

.header_three {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
	position: relative;
}

.header_two {
    display: flex;
    align-items: center
}

.header_two h4 {
    font-style: normal;
    font-weight: 350;
    font-size: 28px;
    line-height: 45px;
    text-align: center;
    margin: 0 30px;
    color: #FFFFFF;
}

.header_two img {
    width: 123px;
}

.header_one {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hot_line_content {
    display: flex;
}

.images {
    display: flex;
    align-items: center;
    margin: 0 40px;
}

.images a {
    margin-right: 20px;
}

.hot_line {
	display: flex;
	width: 130px;
    height: 55px;
	border: none;
	justify-content: space-evenly;
	align-items: center;
}

.hot_line, .messanger {
    background-color: rgba(217, 217, 217, 0.5);
    box-shadow: 4px 4px 4px rgba(75, 73, 73, 0.25);
    border-radius: 7px;    	
}

.hot_line:hover {
	background-color: #ED2A30;	
	transition: 0.7s;
}

.hot_line_new {
	display: none;	
	box-shadow: 4px 4px 4px rgba(75, 73, 73, 0.25);
	background-color: #D51319;
	border-radius: 7px;
	min-width: 130px;
	height: 57px;
}

.hot_line_new button {
	background: transparent;
	border: none;
	width: 50%;
	height: 100%;
	align-items: center;
	padding:0;
}

.hot_line_new button:nth-child(1) {
	border-radius: 7px 0 0 7px;
	float: left;
}

.hot_line_new button:nth-child(2) {
	border-radius: 0 7px 7px 0;
	float: right;
}

.hot_line_new button img{
	margin: auto;
}

.hot_line_new button:hover {
	transition: 0.7s;
	background-color: darkred;
}

.messanger {
	width: 60px;
	margin-left: 10px;
}

.messanger:hover {
	background-color: DeepSkyBlue;
	transition: 0.7s;
}

.messanger a {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#current-language {
    display: flex;
    width: 140px;
    height: 50px;
    background: rgba(214, 214, 214, 0.62);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.48);
    border-radius: 7px;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    z-index: 11;
}

#droped-languages {
    position: absolute;
    display: none;
	right: 0;
    width: 128px;
    height: 70px;
    top: 80px;
    padding: 7px 3px 7px 10px;
    background: rgba(214, 214, 214, 0.79);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.48);
    border-radius: 7px;
    z-index: 11;
}

.lang-item {
    position: relative;
    display: block;
    width: 123px;
    height: 26px;
}

.lang-item img:nth-child(1) {
    position: relative;
    width: 28px;
    height: 28px;
    float: left;
}

.lang-item span {
    position: relative;
    display: block;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;

    color: #FFFFFF;
}

#lang-arrow,
.chosen-language {
    position: relative;
    width: 15px;
    height: 10px;
    float: left;
    margin-left: 6px;
}

#lang-arrow {
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
}

#lang-arrow.active {
    transform: rotate(180deg);
}

.chosen-language {
    width: 18px;
    height: 18px;
    margin-left: 35px;
}

#droped-languages .lang-item {
    display: flex;
    margin-bottom: 15px;
}

#droped-languages .lang-item:last-child {
    margin-bottom: 0;
}

#search-block {
    background: rgba(214, 214, 214, 0.62);
    position: relative;
    display: block;
    width: 175px;
    height: 31px;
    padding: 11px 17px 11px 17px;
    border-radius: 10px;
    float: left;
    box-shadow: 4px 4px 4px rgba(75, 73, 73, 0.25);
    border-radius: 7px;
}

#search-key {
    position: relative;
    display: block;
    width: calc(100% - 46px);
    height: 31px;
    margin-left: 10px;
    color: #fff;
    border: none;
    outline: none;
    float: left;
    background: transparent;
}

#search-key::placeholder {
    color: white;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 33px;
}

#search-form a img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

#search-form a {
    width: 32px;
    height: 32px;
    float: left;
}

nav {
    position: fixed;
    display: flex;
    width: 100%;
    height: 58px;
    top: 178px;
    justify-content: space-evenly;
    align-items: center;
    background: #c3c3c3;
    z-index: 20;
}

nav .link-item a {
    font-weight: 600;
    font-size: 20px;
    line-height: 31px;
    /* identical to box height */


    color: #343434;
    transition: 0.4s;
}

nav .link-item a:hover {
    font-size: 21px;
    opacity: 0.8;
}

nav .link-item {
    position: relative;
    display: block;
    float: left;
}

#content-block {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    margin-top: 289px;
}

footer {
    position: relative;
    display: block;
    max-width: 100%;
    background: #676775;
    padding: 30px;
}


.leaflet_map {
    width: 400px;
    min-height: 100%;
}

#map {
    width: 100% !important;
    height: 100% !important;
    z-index: 0 !important;
}

.footer_content {
    position: relative;
    width: 100%;
    height: auto;
    padding-inline: 50px;
}

.footer-blocks {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-blocks .leaflet_map {
	display: none;
}

#right-block {
        display: block;
        margin-top: 10px;
}

.footer {
    display: flex;
    justify-content: space-around;
}


.left-block-item {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
}

.left-block-item {
    margin-bottom: 25px;
}

.left-block-item img:not(:first-child) {
    margin-left: 15px;
}

.left-block-item span {
    position: relative;
    display: block;
    font-size: 24px;
    line-height: 31.92px;
    font-weight: 350;
    color: #E9E9E9;
    margin-left: 21.68px;
}

.subscribe-block {
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    color: #E9E9E9;
}

.subscribe-block span {
    margin-left: 10px;
}

.social_block_2 {
	margin-top: 15px;
}

.social_media_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 23px;
}

.social_media_1 a {
    display: flex;
    align-items: center;
}

.social_media_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social_media_2 a {
    display: flex;
    align-items: center;
}

.social_media_3 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 23px;
}

#copyright-and-powered-block {
    border-top: 4px solid #C0BFBF;
    position: inherit;
    display: inline-block;
    width: 100%;
    height: auto;
    
}

#copyright-and-powered-block span:first-child {
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
#copyright-and-powered-block span {
    padding-top: 15px;
}

#copyright-and-powered-block span,
#copyright-and-powered-block a {
    font-size: 23px;
    line-height: 27.84px;
    font-weight: 400;
    color: #C5C5C5;
    
}

#copyright-and-powered-block span:last-child {
    position: relative;
    display: block;
    float: right;
    right: 8%;
}

.slider_custom_button {
    width: 17px !important;
    height: 17px !important;
    background: rgba(255, 255, 255, 0.77) !important;
    border: none !important;
    border-radius: 50%;
}

.carousel_title {
    left: 26px !important;
    right: 70.7% !important;
    top: 41px;
    height: 115px;
    background: rgba(217, 217, 217, 0.86);
    border-radius: 7px;
    color: #393939 !important;
}

.carousel_title h5 {
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 1.2vw !important;
    line-height: 37px !important;
    text-align: left;
    padding: 10px 0px 0 45px;
}

.home_page_nav {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: #7A8D9A;
    margin-bottom: 58px;
    padding: 0 !important;
    align-items: center;
    justify-content: space-evenly;
}

.home_nav_link a {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #F2F2F2;
}

.home_nav_link a:hover {
    color: #303030 !important;
}

.home_news {
    margin-bottom: 87px;
    justify-content: space-between;
}

.active_nav {
    color: #6D6D6D !important;
}

.home_news_1_1 {
    background-image: url(../img/news.png);
    background-repeat: no-repeat;
    width: 142px;
    height: 142px;
}

.home_news_2_1 {
    background-image: url(../img/history.png);
    background-repeat: no-repeat;
    width: 142px;
    height: 142px;
}

.home_news_1_2 a {
    font-weight: 600;
    font-size: 27px;
    line-height: 36px;
    margin-left: 40px;
    color: #576A82;
}

.home_news_2_2 a {
    font-weight: 600;
    font-size: 27px;
    line-height: 36px;
    margin-left: 40px;
    color: #576A82;
}

.home_news_2_2 a:hover {
    color: #576A82 !important;
    opacity: 0.8;
}

.home_news_1_2 a:hover {
    color: #576A82 !important;
    opacity: 0.8;
}

.home_action {
    margin-left: 200px;
    margin-bottom: 60px;
}

.line {
    width: 58px;
    height: 11px;
    background: #30414B;
    border-radius: 3px;
}

.home_action_title p {
    padding-left: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 43px;
    color: #30414B;
}

.action_directions {
    margin-bottom: 100px;
}

.action_card_1 {
    background-color: #F2F4FA;
    filter: drop-shadow(4px 4px 4px rgba(143, 140, 140, 0.25));
    border-radius: 10px;
    width: 297px;
    height: 264px;
}

.action_card_2 {
    background-color: #76947C;
    filter: drop-shadow(4px 4px 4px rgba(143, 140, 140, 0.25));
    border-radius: 10px;
    width: 297px;
    height: 264px;
}

.action_card_3 {
    background-color: #C0BFD5;
    filter: drop-shadow(4px 4px 4px rgba(143, 140, 140, 0.25));
    border-radius: 10px;
    width: 297px;
    height: 264px;
}

.action_card_4 {
    background-color: #9E7585;
    filter: drop-shadow(4px 4px 4px rgba(143, 140, 140, 0.25));
    border-radius: 10px;
    width: 297px;
    height: 264px;
}

.action_card_5 {
    background-color: #D0D7ED;
    filter: drop-shadow(4px 4px 4px rgba(143, 140, 140, 0.25));
    border-radius: 10px;
    width: 297px;
    height: 264px;
}

.action_directions_card img {
    margin-inline: auto;
}

.action_directions_title {
    font-weight: 350;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    padding: 0 2px;
}

.action_title_1 {
    color: #3E405A;
}

.action_title_2 {
    color: #F2F4FA;
}

.action_title_3 {
    color: #4A214A;
}

.action_title_4 {
    color: #EDEDEE;
}

.action_title_5 {
    color: #171347;
}

.action_directions_icons {
    background: #EEEEEE;
    padding: 20px 50px;
    border-radius: 30px;
    margin-bottom: 100px;
}

.action_directions_icons_card {
    width: 140px;
    height: 140px;
    background: #6E798A;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #D3D2D2;
}

.action_directions_icons_card img {
    margin: 0 auto;
}

.action_directions_icons_title {
    font-weight: 250;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 !important;
	padding-inline: 5px;
}

#contact_us .tab-content {
	padding-top: 250px;
}

.contact_us {
    background: transparent !important;
    margin-top: 37px;
    position: fixed;
    border: none !important;
    z-index: 2;
}

.custom_list_group_action {
    display: flex !important;
    min-width: 295px !important;
    /* avelacraca min- */
    min-height: 60px !important;
    /* avelacraca min- */
    border: none !important;
    background: rgba(109, 120, 138, 0.85) !important;
    border-radius: 12px !important;
    font-weight: 350 !important;
    font-size: 26px !important;
    line-height: 40px !important;
    color: #FFFFFF !important;
    align-items: center;
    justify-content: space-around;
}

.custom_list_group_action.active {
    background: rgba(109, 120, 138, 0.56) !important;
    transition: 0.7s;
}

.line_2 {
    width: 49px;
    height: 10px;
    background: #30414B;
    border-radius: 3px;
}

.contact_us_action {
	margin-left: 30px;
}

.contact_us_action_title p {
    margin-left: 20px;
    font-weight: 400;
    font-size: 28px;
    line-height: 43px;
    color: #30414B;
}

.info-tab-pane {
	padding-inline: 100px;
}

.apply_contact_us {
    height: 175px;
    background: #D9D9D9;
    box-shadow: 5px 5px 4px rgba(120, 120, 120, 0.15);
    border-radius: 25px;
    align-items: center;
	padding: 30px;
	justify-content: space-around;
}

.apply_not_id {
	margin-top: 100px;
    background: #D9D9D9;
    box-shadow: 5px 5px 4px rgba(120, 120, 120, 0.15);
    border-radius: 25px;
}

.apply_contact_us_item:nth-child(1) {
  /*  width: 357px; */
}

.apply_contact_us_item:nth-child(3) {
    height: 132px;
    /* width: 460px; */
    display: flex;
    align-items: center;
    background: #CFCFCF !important;
    box-shadow: 5px 5px 4px rgba(120, 120, 120, 0.15);
    border-radius: 11px;
}

.apply_contact_us_item p {
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;
    color: #30414B;
    text-align: left;
}

.apply_contact_us_item h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #30414B;
    text-align: left;
}

.apply_contact_us_item a {
    width: 156px;
    display: flex;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    background: #7C9469;
    box-shadow: 5px 5px 4px rgba(120, 120, 120, 0.15);
    border-radius: 7px;
    justify-content: space-evenly;
    align-items: center;
}

.apply_not_id_title {
    font-weight: 400;
    font-size: 26px;
    line-height: 55px;
    color: #30414B;
	padding: 30px;	
}

input[type="file"] {
    display: none;
}

.apply_not_id_form {
    flex-direction: row;
	justify-content: space-between;
	padding-inline: 50px;
    align-items: center;
    padding-bottom: 55px;
}

.apply_not_id_form_left {
    display: flex;
    flex-direction: column;
    height: 360px;
}

.apply_not_id_form_right {
    display: flex;
    flex-direction: column;
    height: 360px;
}

.apply_not_id_form_right div{
	justify-content: space-around;
}

.arrow_down {
    margin-left: 40px;
    transform: rotate(90deg);
}

.apply_name {
    width: 510px;
    height: 68px;
    border: none;
    background: #CFCFCF;
    box-shadow: 5px 5px 4px rgba(120, 120, 120, 0.15);
    border-radius: 11px;
    margin-bottom: 30px;
}

.apply_message {
    width: 510px;
    border: none;
    background: #CFCFCF;
    box-shadow: 5px 5px 4px rgba(120, 120, 120, 0.15);
    border-radius: 11px;
}

.apply_subject {
    width: 510px;
    height: 68px;
    border: none;
    background: #CFCFCF;
    box-shadow: 5px 5px 4px rgba(120, 120, 120, 0.15);
    border-radius: 11px;
    margin-bottom: 30px;
}

.apply_email {
    width: 510px;
    height: 68px;
    border: none;
    background: #CFCFCF;
    box-shadow: 5px 5px 4px rgba(120, 120, 120, 0.15);
    border-radius: 11px;
    margin-bottom: 65px;
}

.apply_name::placeholder {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #30414B;
    padding-left: 42px;
    padding-top: 20px;
}

.apply_message::placeholder {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #30414B;
    padding-left: 42px;
    padding-top: 20px;
}

.apply_subject::placeholder {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #30414B;
    padding-left: 42px;
    padding-top: 20px;
}

.apply_email::placeholder {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #30414B;
    padding-left: 42px;
    padding-top: 20px;
}

.apply_not_id_form_buttons {
    display: flex;
}

.apply_file {
    width: 206px;
    height: 54px;
    border: none;
    display: flex;
    padding: 6px 12px;
    cursor: pointer;
    background: #697C94;
    border-radius: 7px;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
    align-items: center;
    justify-content: space-evenly;
}

.apply_submit {
    width: 206px;
    height: 54px;
    border: none;
    display: flex;
    padding: 6px 12px;
    cursor: pointer;
    background: #7C9469;
    border-radius: 7px;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 60px;
}

.apply_submit_btn {
    display: none;
}

.contact_us_question {
    background: #D9D9D9;
    box-shadow: 5px 5px 4px rgb(120 120 120 / 15%);
    border-radius: 25px;
}

.contact_us_question div {
    margin-left: 80px;
    padding: 48px 0 0 0;
    width: 80%;
}

.contact_us_question_title p {
    font-weight: 400;
    font-size: 27.5px;
    line-height: 39px;
    letter-spacing: 0.01em;
    color: #232323;
}

.contact_us_question_content p {
    font-weight: 400;
    font-size: 27.5px;
    line-height: 39px;
    letter-spacing: 0.01em;
    color: #232323;
    opacity: 0.7;
}

.contact_us_question_content {
    padding-bottom: 48px !important;
}

.contact_us_question_2 {
	margin-top: 30px;
    background: #D9D9D9;
    box-shadow: 5px 5px 4px rgb(120 120 120 / 15%);
    border-radius: 0 0 25px 25px;
}

.contact_us_question_2 div {
    margin-left: 80px;
    padding: 48px 0 0 0;
    width: 80%;
}

.contact_cards {
    display: flex;
	flex-wrap: wrap;
    gap: 34px;
	margin-left: 70px;
}

.contact_cards div {
    padding: 15px 0;
}

.contact_card_item {
    width: 410px;
    background: #697C94;
    border-radius: 14px;
}

.card_item_title p {
    font-weight: 400;
    font-size: 28px;
    line-height: 37px;
    color: #FFFFFF;
}

.card_text p {
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #FFFFFF;
}

.card_content {
    align-items: center;
}

.card_item_title {
    text-align: center;
    height: 73px;
}

.card_text span {
    margin-left: 20px;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

*,
*:before,
*:after {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    box-sizing: border-box;
}

/*==============================================================================
 The burger icon with it's animation. Uses the checked property of a checkbox
 in order to make the animation happen as well as control the next elements
 I've used classes because of the + css selector, which will only ever animate
 the next label element. Does not work on IE8 or below and opera mini since
 they don't support the :checked selector.
==============================================================================*/
.burger-check {
    display: none;
}

/*--------------------------------------
 Sets the actionable area for the burger
 including a label for usability
--------------------------------------*/
.burger {
    position: relative;
    float: left;
    margin-left: 10px;
    width: 60px;
    height: 54px;
    cursor: pointer;
}

.burger span,
.burger span:before,
.burger span:after {
    position: absolute;
    top: 25px;
    width: 30px;
    height: 2px;
    background: #333;
    border-radius: 0.2em;
}

/* Reset the left and create the pseudo-element */
.burger span:before,
.burger span:after {
    content: '';
    left: 0;
}

/* Top bar position */
.burger span:before {
    top: -10px;
}

/* Bottom bar position */
.burger span:after {
    top: 10px;
}

/* Get rid of more on action (IE9 or higher) */
.burger-check:checked+.burger:after {
    content: '';
}

/* Get rid of the middle bar on action (IE9 or higher) */

.burger-check:checked+.burger span {
    height: 0;
    width: 0;
}

/* Moves the top and bottom bars to the middle on action (IE9 or higher) */
.burger-check:checked+.burger span:before,
.burger-check:checked+.burger span:after {
    top: 0;
}

/* Rotates the top bar on action with full browser support (IE9 or higher) */
.burger-check:checked+.burger span:before {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}

/* Rotates the bottom bar on action with full browser support (IE9 or higher) */
.burger-check:checked+.burger span:after {
    -webkit-transform: rotate(-225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(-225deg);
}

/*==============================================================================
 Simple reveal (IE9 or higher)
==============================================================================*/
span.boo {
    width: auto;
    margin-top: 0;
    line-height: 60px;
    height: 0;
    overflow: hidden;
}

/* Reveals Boo! (IE9 or higher) */
#main-nav-test:checked~.boo {
    height: 50px;
}

.a-header-sm, #search-form-sm {
	display: none;
}


#search-form-sm {
	background-color: #acacac;
	padding: 5px;
	border-radius: 15px; 
}

#search-form-sm button {
	padding: 0 !important;
}

#search-form-sm button img {
	width: 20px !important;
	height: 20px !important;
}

#search-block-sm {
	display: none;
}

#search-block-sm button {
	padding: 0 15px 0 0;
	border: none;
	background: transparent;
	align-items: center;
	width: 30px;
	
}

#search-block-sm button img {
	width: 30px;
	height: 30px;
}


.a-header, .a-header-sm {
    position: relative;
    overflow: hidden;
	min-height: 50px;
}

.a-header {
	float: left;
    margin-top: auto;
    
}

.a-header-sm {
	white-space: nowrap;
}

.a-header ul, .a-header-sm ul {
    position: fixed;
    filter: drop-shadow(5px 5px 4px rgba(131, 131, 131, 0.25));
    background: rgba(238, 238, 238, 0.85);
    list-style: none;
    right: 0;
}

.a-header ul {
    margin-top: 55px;
	padding-inline: 10px;
	max-width: 100%;
}

.a-header-sm ul {
	margin-top: 56px;
	padding-inline: 15px;
	left: 0;
	margin-inline: auto;
	max-width: 500px;
}

.a-header ul a, .a-header-sm ul a {
    position: relative;
    display: flex;
    float: left;
    width: 100%;
    height: 0;
    line-height: 50px;
    text-decoration: none;
    overflow: hidden;
    color: #333;
    text-align: left;
    align-items: center;
}

.a-header ul a {
	justify-content: flex-end;
}

/* Animate height of 'a' element in order to reveal the menu on check (IE9 or higher) */
#main-nav:checked~ul a {
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    /* identical to box height */

    text-align: right;

    color: #343434;
    height: 50px;
    transition: 0.4s;
}

#main-nav:checked~ul a:hover {
    opacity: 0.8;
    font-size: 21px;
}


.directions_applications p {
    font-weight: 350;
    font-size: 33px;
    line-height: 49px;
    color: #505050;
}

.directions_applications a {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    color: #505050;
}


.holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.holder .get-it-on-github {
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: 'Roboto';
    color: #55606e;
}

.audio.green-audio-player {
    min-width: 60%;
	width: 100%;
    height: 56px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .07);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    user-select: none;
    -webkit-user-select: none;
    background-color: #CFCFCF;
}

.audio.green-audio-player .play-pause-btn {
    display: none;
    cursor: pointer;
	padding-left: 15px;
}

.audio.green-audio-player .spinner {
    width: 18px;
    height: 18px;
	margin-left: 15px;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/loading.png);
    background-size: cover;
    background-repeat: no-repeat;
    animation: spin 0.4s linear infinite;
}

.audio.green-audio-player .slider {
    flex-grow: 1;
    background-color: #d8d8d8;
    cursor: pointer;
    position: relative;
}

.audio.green-audio-player .slider .progress {
    background-color: #697C94;
    border-radius: inherit;
    position: absolute;
    pointer-events: none;
}

.audio.green-audio-player .slider .progress .pin {
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background-color: #697C94;
    position: absolute;
    pointer-events: all;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
}

.audio.green-audio-player .controls {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #55606e;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
}

.audio.green-audio-player .controls .slider {
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 2px;
    height: 4px;
}

.audio.green-audio-player .controls .slider .progress {
    width: 0;
    height: 100%;
}

.audio.green-audio-player .controls .slider .progress .pin {
    right: -8px;
    top: -6px;
}

.audio.green-audio-player .controls span {
    cursor: default;
}

.audio.green-audio-player .volume {
    position: relative;
}

.audio.green-audio-player .volume .volume-btn {
    cursor: pointer;
}

.audio.green-audio-player .volume .volume-btn.open path {
    fill: #697C94;
}

.audio.green-audio-player .volume .volume-controls {
    width: 30px;
    height: 135px;
    background-color: rgba(0, 0, 0, 0.62);
    border-radius: 7px;
    position: absolute;
    left: -3px;
    bottom: 52px;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.audio.green-audio-player .volume .volume-controls.hidden {
    display: none;
}

.audio.green-audio-player .volume .volume-controls .slider {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 6px;
    border-radius: 3px;
}

.audio.green-audio-player .volume .volume-controls .slider .progress {
    bottom: 0;
    height: 100%;
    width: 6px;
}

.audio.green-audio-player .volume .volume-controls .slider .progress .pin {
    left: -5px;
    top: -8px;
}

svg,
img {
    display: block;
}

@keyframes spin {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(1turn);
    }
}

/* .player {
    width: 74%;
    height: 63px;
    margin-bottom: 22px;
    background-color: #CFCFCF;
    display: grid;
    grid-template-columns: 48px 1fr 48px;
    grid-gap: 16px;
    padding: 0 24px;
    position: relative;
    border-radius: 11px;
}

.control,#current {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playbtn {
    font-size: 24px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    cursor: pointer;
}

#playbtn:hover {
    -webkit-text-fill-color: transparent;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
}

#current {
    text-align: right;
    color: white;
}

.bar {
    --space: -4px;
    background-color: #24242424;
    overflow: hidden;
    height: 17px;
    left: 75px;
    right: 70px;
    position: absolute;
    border-radius: 11px;
}

#progress {
    display: blcok;
    width: var(--progress,0%);
    background-color: #697C94;
    transition: all 1s linear;
    height: 100%;
} */

.reports {
    background: transparent !important;
    margin-top: 37px;
    margin-right: 10%;
    margin-left: 10% !important;
    border: none !important;
    z-index: 2;
}

.nav-item {
    margin-bottom: 20px;
}

.container_section_reports {
    margin-bottom: 60px;
}

.report_card {
    display: flex;
    background: #D9D9D9;
    box-shadow: 5px 5px 4px rgba(120, 120, 120, 0.15);
    border-radius: 21px;
    margin-bottom: 35px;
    padding: 20px;
    align-items: center;
}

.reports_card_img {
    margin-right: 29px;
}

.reports_card_text {
    font-style: normal;
    font-weight: 350;
    font-size: 25px;
    line-height: 36px;
    color: #363636;
}

.report_pdf {
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 40px !important;
    display: flex !important;
    color: #505050 !important;
    margin-bottom: 40px;
    align-items: center;
}

.report_pdf img {
    margin-right: 50px;
}

.report_pdf_news {
    margin-bottom: 0 !important;
}

.report_news {
    margin-bottom: 55px;
}

.report_news_text {
    margin-left: 116px;
}

.report_news_time p {
    margin-left: 6px;
    font-weight: 600;
    font-size: 19px;
    line-height: 25px;
    color: #505050;
}

.report_news_time {
    margin-top: 12px;
}

.report_news_content {
    font-weight: 350;
    font-size: 30px;
    line-height: 40px;
    color: #505050;
}

.course_card {
    border: none !important;
    background-color: transparent !important;
}

.course_text {
    font-weight: 350 !important;
    font-size: 16px !important;
    line-height: 21px !important;
    color: #505050 !important;
}

.course_body {
    margin: 0 19px !important;
    background: #F4F4F4 !important;
    border-radius: 10px !important;
    height: 80px !important;
}

.cooperation_body_top {
    background: #F4F4F4 !important;
    border-radius: 5px 5px 0px 0px !important;
    height: 72px !important;
    margin: 0 5px 0 2px;
}

.cooperation_card img {
    border-radius: 0px 0px 5px 5px;
    margin-top: -2px;
}

.cooperation_body_bottom {
    background: #DEDEDE !important;
    border-radius: 0px 0px 7px 7px !important;
    height: 235px !important;
}

.cooperation_card_bottom img {
    border-radius: 7px 7px 0px 0px;
}

.cooperation_text {
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 21px !important;
    color: #505050 !important;
}

.media_center {
    background: transparent !important;
    margin-top: 37px;
    border: none !important;
}

.media_center_btn {
    width: 100% !important;
}

.nav_media_item {
    margin-right: 2%;
}

.media_container_section {
    padding-top: 30px !important;
}

.bottom_date {
    margin-top: 80px;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 21px !important;
    color: #505050 !important;
}

.search_container {
    width: 74%;
    margin: 20px 14%;
    float: right;
}

input[type="date"] {
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
    z-index: -10;
}

input[type="date"]::-webkit-input-placeholder {
    z-index: 99;
}

input[type="date"]:placeholder {
    z-index: 99;
}

input[type="date"]:not(.has-value):before {
    content: attr(placeholder);
    width: 100%;
}

input[type="date"] {
    padding: 12px 20px;
}

/*--SECOND--*/
.pa__top-sec {
    padding: 50px 0;
}

.pa__top-title {
    margin-bottom: 20px;
    color: #455582;
    font: 14px "Gilroy-Extrabold", sans-serif;
}

.pa__middle-range {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.pa__middle-item {
    margin-right: 10px;
}

.pa__top-sec input[type="date"] {
    border: 0;
    padding: 12px 20px;
    color: #99a2ba;
    font-size: 14px;
}

/* If you need to change calendar icon */
/* .pa__top-sec input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url("../img/calendar.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 20px;
    height: 20px;
  } */

.btn-accent {
    color: #fff;
    background-color: #ff8007;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.pa__top-sec input[type="date"]:not(:valid):before {
    content: attr(placeholder);
    width: 100%;
    font: 14px "Gilroy-Extrabold", sans-serif;
}


.about_us {
    max-width: fit-content !important;
    background: transparent !important;
    margin-top: 2% !important;
    border: none !important;
    z-index: 2;
}

.about_us .nav-item {
    margin: 10px;
}

.tab-pane {
	padding-inline: 100px !important;
}

.tab-main {
    padding-inline: 80px !important;
}

.nav-tabs {
	padding: 0 !important;
}

li:has(> .torture-first.active) {
    display: none;
}

.torture {
    margin-top: 25px;

}

.torture .nav,
.soldier_rights .nav {
    padding: 0;
}

.torture .nav-item .nav-link:last-child,
.torture .nav-item .nav-link:nth-last-child(2) {
    max-width: 450px;
    margin: 0;
}

.torture .tab-content {
    padding-inline: 0;
}

.torture .tab-content .tab-pane .tab-header,
.soldier_rights .tab-content .tab-pane .tab-header {
    padding-inline: 120px;
}

.torture .tab-content .tab-pane .tab-main,
.soldier_rights .tab-content .tab-pane .tab-main {
    padding-inline: 150px;
	margin-bottom: 100px;
}

.torture .tab-content .container_section,
.soldier_rights .tab-content .container_section,
.statistics {
    padding-top: 0;
    margin: 0;
}

.torture .tab-content .tab-pane .tab-main .report_news,
.torture .tab-content .tab-pane .tab-main .report_pdf {
    width: 1000px;
}

.torture-video-player {
    width: 100%;
    height: 500px;
    background: #acacac;
}

.torture-video-player .play-pause-btn {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.torture-audio .audio.green-audio-player {
    width: 100%;
    padding: 0;
}

.torture-audio .audio .loading,
.torture-audio .audio .play-pause-btn {
    padding-left: 15px;
}

.torture_directions_applications {
	padding-inline: 10px;
}

.torture-card {
    background-color: #DEDEDE !important;
    border: none !important;
    width: 100%;
    height: 100%;
}

.torture-card-date {
    right: 15px;
    bottom: 10px;
}

.torture-card-date img {
    width: 25px;
    height: 25px;
    margin-right: 6px;
}

.torture-card-date p {
    margin: 0;
}

.torture_mechanism .active {
    background: rgba(109, 120, 138, 0.56) !important;
    transition: 0.7s;
}

.torture-news-tab {
    margin-left: 0;
}

.soldier_rights .tab-content {
    padding-top: 100px;
}

.soldier_rights {
    margin-top: 20px;
}

.soldier_rights .nav {
    position: fixed;
    left: 0;
    right: 0;
    margin-inline: auto;
}

.soldier_rights_text {
    background: #D9D9D9;
    box-shadow: 5px 5px 4px rgb(120 120 120 / 15%);
    border-radius: 25px;
    font-weight: 350 !important;
    font-size: 22px !important;
    line-height: 36px !important;
    padding: 25px;
    margin-top: 30px
}

.soldier_rights_header_text {
    font-weight: 350 !important;
    font-size: 28px !important;
    line-height: 44px !important;
}

.soldier_rights_audio .audio.green-audio-player {
    width: 100%;
    padding: 0;
}

.soldier_rights_audio .audio .play-pause-btn,
.soldier_rights_audio .audio .loading {
    padding-left: 15px;
}

.soldier_rights .nav {
    z-index: 2;
    width: 100%;
    border: none !important;
}

.soldier_rights .nav .nav-item .nav-link {
    font-weight: 350 !important;
    font-size: 24px !important;
    line-height: 40px !important;
}

#big_nav_tab {
	width: 400px !important;
}

.info-tab-pane {
    padding-top: 30px;
}

.decisions-tab {
	padding-top: 40px;
}

.statistics .tab-header {
    padding-left: 80px;
}

.statistics .tab-main {
    gap: 30px;
}

.stat-card {
    background-color: #DEDEDE !important;
    border: none !important
}

.stat-card-text {
    padding: 10px;
}

.stat-card-body {
    height: 150px;
}

.about_as_small {
	margin-bottom: 30px !important;
}

.about_as_small .nav-item {
	margin: 10px;
}

.about_as_small .nav-item .nav-link {
    color: #777777 !important;
    background: rgba(232, 232, 232, 0.56) !important;
    box-shadow: 5px 5px 4px rgba(131, 131, 131, 0.25) !important;
    border-radius: 12px !important;
}

.about_as_small .nav-item .nav-link.active {
    background: rgba(217, 217, 217, 0.56) !important;
}

.about_as_small .nav-item {
	margin-inline: 10px;
}

.about_us .nav-item .custom_list_group_action {
    font-size: 26px !important;
}

.about_us .nav-item .big_list_tab {
    font-size: 26px !important;
}

.container_section_about_us {
    padding-inline: 10px;
}

.defender_header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
 	align-items: stretch;
	width: 100%;
	max-width: 100%;
}

.defender_header p {
    display: flex;
    align-items: center;
}

.defender_header .fb {
    margin-left: 8px;
    margin-top: 56px;
}

.fb img {
    margin-right: 12px;
}

.defender_name {
    font-weight: 400;
    font-size: 35px;
    line-height: 47px;
    /* identical to box height */


    color: #505050;
}

.defender_biography {
    font-weight: 350;
    font-size: 22px;
    line-height: 29px;
    color: #717171;
    margin-bottom: 26px;
}

.defender_contacts {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #505050;
    margin-bottom: 20px;
}

.defender_contacts img {
    margin-right: 20px;
}

#section1_1 {
    margin-left: 0 !important;
}

#section1_2 {
    margin-left: 0 !important;
}

.defender_header_2 {
    margin-left: 60px;
}

.defender_header_3 {
    margin-left: 60px;
}



.defender_header_2_1 {
    flex: 1;
    margin-left: 52px;
}

.defender_header_3 p {
    font-weight: 500;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
}

.defender_content {
    margin-top: 62px;
}

.defender_content_text p {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 52px;

    color: #505050;
}

.vertical_hr {
    width: 2px;
    background-color: #505050;
    height: 68.7rem !important;
    position: absolute;
    left: 20%;
}

.horizontal_line {
    width: 23px;
    height: 2px !important;
    background-color: #505050;
    margin-top: 33px;
}

.structure_header {
    width: 85%;
    background: #697C94;
    box-shadow: 5px 5px 4px rgba(135, 135, 135, 0.15);
    border-radius: 7px;
    margin-bottom: 40px;
    position: relative;
}

.structure_content {
    margin-left: 1.8%;
    width: 90%;
}

.structure_content p {
    width: 90%;
    height: 47px;
    background: #D9D9D9;
    box-shadow: 5px 5px 4px rgba(135, 135, 135, 0.15);
    border-radius: 7px;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 23px;
    text-align: center;
    line-height: 31px;
    color: #505050;
    padding-top: 20px;
}

.structure_header p {
    padding: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    line-height: 33px;
    color: #FBFBFB;
}

.structure_div p {
    width: auto;
    padding: 10px 10px 0px 10px;
    font-size: 20px;
}

.container_section_about_us .card {
    width: 275px;
    height: 370px;
    margin-right: 30px;
    margin-bottom: 50px;
    background: rgba(234, 233, 233, 0.8);
    border: none;
}

.container_section_about_us .card-img-top {
    width: fit-content;
    border-radius: 5px 5px 0px 0px;
}

.container_section_about_us .card-body {
    background: rgba(234, 233, 233, 0.8);
    box-shadow: 5px 5px 4px rgba(135, 135, 135, 0.15);
    border-radius: 7px 7px 0px 0px;
}

.container_section_about_us .card-body h5 {
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    text-align: center;

    color: #505050;
}

.container_section_about_us .card-body p {
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    text-align: center;

    color: #505050;
}

.container_section_about_us_card {
    margin-left: 4%;
    padding-top: 3%;
    margin-bottom: 60px;
}

.vacancies button {
    background: transparent;
    border: none;
}

@media screen and (max-width: 1880px) {
    .carousel_title h5 {
        font-style: normal !important;
        font-weight: 600 !important;
        font-size: 1.4vw !important;
        line-height: 37px !important;
        text-align: left;
        padding: 10px 0px 0 20px;
    }

    #search-key::placeholder {
        font-size: 21px;
    }

}

@media screen and (max-width: 1670px) {
    .home_news {
        justify-content: space-evenly !important;
    }

    .home_nav_link a {
        font-size: 18px;
    }

    .home_news_1_2 a {
        font-size: 22px;
    }

    .home_news_2_2 a {
        font-size: 22px;
    }

    .home_news_2_1 {
        background-size: contain;
        width: 110px;
        height: 127px;
    }

    .home_news_1_1 {
        background-size: contain;
        width: 110px;
        height: 127px;
    }

    .line {
        width: 55px;
        height: 12px;
    }

    .home_action_title p {
        font-size: 24px;
    }

    .home_action {
        margin-left: 4%;
    }

    .action_card_1 {
        width: 227px;
    }

    .action_card_2 {
        width: 227px;
    }

    .action_card_3 {
        width: 227px;
    }

    .action_card_4 {
        width: 227px;
    }

    .action_card_5 {
        width: 227px;
    }

    .action_directions_icons {
        width: 91% !important;
        max-width: initial !important;
    }

    .left-block-item span {
        font-size: 20px;
    }

    #search-key::placeholder {
        font-size: 18px;
    }
}

@media screen and (max-width: 1440px) {
	.apply_not_id_form {
		justify-content: center;
	}

	.apply_not_id_title p {
		text-align: center;
	}

	.arrow_down {
		margin-inline: auto;
	}

	.contact_cards {
		justify-content: center;
		margin: 0;
	}

    .header_two h4 {
        font-size: 2vw;
        /* color: #fff !important; */
    }

    nav .link-item a {
        font-size: 1.4vw;
    }

    .home_news_1_1 {
        width: 90px;
        height: 95px;
    }

    .home_news_1_2 a {
        font-size: 19px;
    }

    .home_news_2_1 {
        width: 90px;
        height: 95px;
    }

    .home_news_2_2 a {
        font-size: 19px;
    }

    .line {
        width: 40px;
        height: 10px;
    }

    .home_action_title p {
        font-size: 19px;
    }


    .action_directions {
        flex-wrap: wrap;
    }

    .action_directions_icons {
        flex-wrap: wrap;
    }

    .action_directions_icons_card {
        margin-inline: 15px;
        margin-bottom: 15px;
    }

    .action_directions_card {
        margin-bottom: 15px;
    }

}

@media screen and (max-width: 1286px) {
	.defender_header_3 {
		margin: 10px 0 !important;
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}	

	.defender_social {
		display: flex;
	}

	.defender_social p {
		margin: 0 10px !important;		
	}

	.defender_header_3 .holder {
		margin: 0;
		width: 290px;
	}

	

}

@media screen and (max-width: 1270px) {	
	.footer .leaflet_map {
        display: none;
    }    

	#right-block {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	
	#map_sm {
        width: 100%;
        height: 100%;
        z-index: 0 !important;
    }

    .footer-blocks {
        margin-bottom: 20px;
    }

    .footer-blocks .leaflet_map {
        display: block;
        width: 40%;
        height: 220px;
    }
    
    .social_media_1 a:last-child, .social_media_2 a:last-child {
        margin-left: 10px;
    } 	
}

@media screen and (max-width: 1222px) {
	.defender_header_1_1 {
		margin-bottom: 10px;
		margin-inline: auto;
	}

	.defender_header_2_1 {
		margin-left: 0;
	}

	#defender_scales_holder {
		width: 588px;
		margin-inline: auto;
	}
}

@media screen and (max-width: 1100px) {
	.tab-pane {
		padding-inline: 20px !important;
	}

	.defender_header_2 {
		margin-left: 20px;
	}

	#left-block {
		padding-left: 10px;
	}

    .left-block-item img {
    	max-width: 5%;
    }

    .left-block-item span {
		font-size: 1.6vw !important;
		margin-left: 10px !important;
    }

	.social_block_1 div a span {
		font-size: 2vw;
	}

	.social_block_1 div a img {
		max-width: 25% !important;
	}

	.social_block_2 div a img {
		max-width: 80% !important;
		margin-inline: auto;	
	}

	#copyright-and-powered-block span, #copyright-and-powered-block span a {
		font-size: 2vw;
	}
}


@media screen and (max-width: 910px) {
	.defender_header_1 {
		margin-inline: auto;
	}

	.defender_header_2 {
		margin: 10px 0 !important;
	}

	.defender_header_3 {
		margin-left: 20px !important;
	}

	#content-block {
		margin-top: 245px;
	}

	header nav .link-item{
		display: none;
	}

	.a-header-sm {
		display: block;
	}

	#search-block-sm {
		display: flex;
	}
	
	header nav {
		justify-content: space-between !important;
		width: auto;
		padding-inline: 50px;
	}

    .footer_content {
        padding-inline: 10px !important;
    }	

    .left-block-item span {
        margin-left: 12px;
    }

    .left-block-item img:not(:first-child) {
        margin-left: 5px;
    }

	.header-lg {
        display: none !important;
    }

    .header-sm {
        display: flex !important;
        align-items: center;
        justify-content: space-evenly;
		height: 150px;
		padding-inline: 10px;
    }

    .header-sm h4 {
        color: #fff !important;
		font-size: 3.5vw;
    }

    .header-sm-links {
        height: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .header-sm-links .hot_line {
        
    }

	.header-sm-links .hot_line img {
		height: 25px;
		width: auto;
	}


	.logo-sm {
        max-width: 108px;
    }

    .logo-sm img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 800px) {
	

	footer {
		padding: 20px;
	}
	
    .footer_content {
        padding-inline: 8px !important;
    }
    
    .left-block-item span {
        margin-left: 10px;
    }

	.social_media_3 {
    	margin-bottom: 40px !important;
	}
}

@media screen and (max-width: 768px) {
	.about_directions_applications {
		padding-inline: 0;	
	}

	.home_news {
		padding: 0 !important;
	}

	.home_page_nav .home_nav_link a {
		font-size: 2vw;
	}

	.social_block_2 {
		margin-top: 0;
	}

	footer {
		padding: 10px;
	}

	#left-block {
		padding-left: 5px;
	}
	
	.left-block-item span {
		margin-left: 5px !important;
	}

	.left-block-item img:not(:first-child) {
		margin-left: 2px !important;
	}
	
	.footer_content {
		padding-inline: 0 !important;
	}

	.leaflet_map {
		height: 200px !important;
	}

    .line_2 {
        width: 37px;
        height: 7px;
    }

    .stat-card {
        max-width: 250px;
        min-height: 120px;
    }

    .stat-cards {
        gap: 20px;
    }

    .soldier_rights .nav {
        position: static !important;
    }

    .soldier_rights_text {
        font-size: 16px !important;
    }

    .soldier_rights_header_text {
        font-size: 24px !important;
    }

    .nav-item .custom_list_group_action {
        font-size: 20px !important;
        min-width: 240px !important;
        min-height: 30px !important;
    }

    .torture .tab-content .tab-pane .tab-header .contact_us_action .contact_us_action_title p,
    .soldier_rights .tab-content .tab-pane .tab-header .contact_us_action .contact_us_action_title p {
        font-size: 24px !important;
    }

    .torture .tab-content .tab-pane .tab-header,
    .soldier_rights .tab-content .tab-pane .tab-header {
        padding-inline: 30px;
    }

    .torture .tab-content .tab-pane .tab-main,
    .soldier_rights .tab-content .tab-pane .tab-main {
        padding-inline: 100px;
    }

    .torture_big_text {
        font-size: 25px !important;
    }

    .torture-card-text {
        font-size: 14px !important;
    }

    .torture_directions_applications .row .col {
        min-width: 200px;
        min-height: 350px;
    }

    .torture-card-date img {
        width: 20px;
        height: 20px;
        margin-right: 6px;
    }

    .torture-card-date p {
        font-size: 14px;
    }

    .torture .tab-content .tab-pane .tab-main .report_news a,
    .torture .tab-content .tab-pane .tab-main div .report_pdf,
    .soldier_rights .tab-content .tab-pane .tab-main div .report_pdf {
        font-size: 16px !important;
        line-height: 25px !important;
    }

    .torture .tab-content .tab-pane .tab-main .report_news img,
    .torture .tab-content .tab-pane .tab-main div .report_pdf img,
    .soldier_rights .tab-content .tab-pane .tab-main div .report_pdf img {
        width: 50px;
        height: 50px;
        margin-right: 15px;
    }

    .torture .tab-content .tab-pane .tab-main .report_news .report_news_text {
        margin-left: 70px;
    }

    .torture .tab-content .tab-pane .tab-main .report_news .report_news_text img {
        width: 20px;
        height: 20px;
        margin-right: 7px;
    }

    .torture .tab-content .tab-pane .tab-main .report_news .report_news_text p {
        font-size: 16px;
        margin: 0;
    }

    .torture .tab-content .tab-pane .tab-main .report_news,
    .torture .tab-content .tab-pane .tab-main .report_pdf,
    .soldier_rights .tab-content .tab-pane .tab-main .report_pdf {
        width: 700px;
    }
}

@media screen and (max-width: 700px) {
	.defender_header {
		justify-content: center;
	}

	.defender_header_3 {
		width: 100%;
		margin-left: 0 !important;	
	}

	.defender_header_3 .holder {
		width: 100%;
	}

	.defender_social {
		width: 100%;
		justify-content: space-around;
	}
}

@media screen and (max-width: 658px) {
	.defender_header_3 {
		justify-content: center;
	}

	

	.defender_social {
		margin-top: 25px;
	}
}

@media screen and (max-width: 425px) {
	

	.about_as_small {
		justify-content: center;
		padding: 0;
		margin:0 !important;
	}
	
	.defender_content_text p{
		font-size: 3.5vw;
		line-height: 30px;
	}

	.defender_header_2 p {
		justify-content: center;
	}
	
	.defender_name {
		font-size: 6vw;
	}

	.defender_contacts {
		font-size: 4vw;
	}

	.info-tab-pane {
		padding-inline: 10px;
	}

	.report_news_time p {
		font-size: 3.5vw !important;
	}

	.report_cards {
		margin-inline: auto;
	}

	.report_pdf {
		display: block !important;
		font-size: 3vw !important;
		line-height: 20px;
	}	

	.report_pdf img {
		margin-inline: auto !important;
 	}

	.report_card {
		display: block;
	}

	.reports_card_img {
		margin: 0;
	}

	.reports_card_img img {
		margin-inline: auto;
	}

	.reports_card_text {
		font-size: 3vw;
		line-height: 25px;
	}
	
	.carousel-indicators button {
		width: 12px !important;
		height: 12px !important;
	}

	.home_page_nav {
		height: 60px;
	}

	.home_news_1_1, .home_news_2_1 {
		width: 60px;
		height: 60px;
	}	

	.a-header ul{
		width: 100%;
	}

	.a-header-sm ul li a, .a-header ul li a {
		font-size: 4vw !important;
	}

	.contact_card_item .card_content .card_item_title p{
		font-size: 4.5vw;
	}

	.preferences button img {
		width: 35px;
		height: 35px;
	}

	.home_news div div a {
		justify-content: center;
		font-size: 3.5vw;
		padding : 0;
	}

	.leaflet_map {
		width: 100% !important;
	}

	#left-block {
		display: flex;
	}
	
	#right-block {
		display: block;
	}

	.footer-blocks {
		margin-bottom: 0;
	}
	
	.left-block-item span {
		font-size: 2vw !important;
	}

	.left-block-item:nth-child(2),
	.left-block-item:nth-child(4) {
		margin-bottom: 0;
	}

	.social_block_1, .social_block_2 {
		display:flex;
		justify-content: center;
		
	}

	.social_block_2 {
		padding-block: 30px;
	}

	.social_media_3, .social_media_1 {
		margin-bottom: 0 !important;
	}

	.header-sm-links .hot_line, #current-language, .hot_line_new {
        width: 100px !important;
		min-width: 100px;
		height: 45px !important;
		padding: 0;
    }

	.logo-sm {
		max-width: 80px;
	}

	#current-language span {
		font-size: 3vw;
	}

	.hot_line img, .hot_line_new img{
		max-height: 20px;
		width: auto;
	}

    .torture .nav-item .nav-link {
        width: 300px;
    }

    .statistics .tab-header {
        padding-left: 20px;
    }

    .stat-card {
        max-width: 350px;
        min-height: 150px;
    }

    .soldier_rights .tab-content {
        padding-top: 15px;
    }

    .soldier_rights_text {
        font-size: 12px !important;
        line-height: 25px !important;
    }

    .soldier_rights_header_text {
        font-size: 20px !important;
    }

    .nav-item .custom_list_group_action {
        font-size: 18px !important;
        max-width: 400px !important;
        width: 320px;
        margin: 0 auto;
        min-height: 20px !important;
    }

    .torture .tab-content .tab-pane .tab-header .contact_us_action .contact_us_action_title p,
    .soldier_rights .tab-content .tab-pane .tab-header .contact_us_action .contact_us_action_title p {
        font-size: 20px !important;
        line-height: 25px !important;
    }

    .torture .tab-content .tab-pane .tab-header,
    .soldier_rights .tab-content .tab-pane .tab-header {
        padding-inline: 30px;
    }

    .torture .tab-content .tab-pane .tab-main .report_news .report_news_text {
        max-width: 350px;
        margin-left: 40px;
    } 

	.torture .tab-content .tab-pane .tab-main,
    .soldier_rights .tab-content .tab-pane .tab-main {
        padding-inline: 20px;
    }

    .torture_big_text {
        font-size: 20px !important;
    }

    .torture-card-text {
        font-size: 14px !important;
    }

    .torture_directions_applications .row .col {
        min-width: 250px;
        min-height: 350px;
    }

    .torture-card-date p {
        font-size: 14px;
    }

    .torture .tab-content .tab-pane .tab-main .report_news a,
    .torture .tab-content .tab-pane .tab-main div .report_pdf,
    .soldier_rights .tab-content .tab-pane .tab-main div .report_pdf {
        font-size: 12px !important;
        line-height: 20px !important;
    }

    .torture .tab-content .tab-pane .tab-main .report_news img,
    .torture .tab-content .tab-pane .tab-main div .report_pdf img,
    .soldier_rights .tab-content .tab-pane .tab-main div .report_pdf img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .torture .tab-content .tab-pane .tab-main .report_news .report_news_text p {
        font-size: 12px;
    }

    .torture .tab-content .tab-pane .tab-main .report_news,
    .torture .tab-content .tab-pane .tab-main .report_pdf,
    .soldier_rights .tab-content .tab-pane .tab-main .report_pdf {
        width: 400px;
    }
}

@media screen and (max-width: 375px) {
	.preferences button img {
		width: 30px;
		height: 30px;
	}
}

@media screen and (max-width: 320px) {
	.tab-main {
		padding-inline: 10px;
	}
	
	.report_card {
		padding: 10px;
	}

	.home_nav_link a {
		padding: 5px;
		font-size: 2.5vw !important;
	}

	.home_news_1_1, .home_news_2_1 {
		width: 50px;
		height: 50px;
	}
	
	.home_news_1_2 .link, .home_news_2_2 .link {
		margin-left: 10px;
	}

	.header-sm h4 {
		text-align: center;
	}

    .torture .nav-item .nav-link {
        width: 290px;
    }

    .stat-card {
        max-width: 310px;
        min-height: 140px;
    }

    .soldier_rights_text {
        font-size: 12px !important;
    }

    .soldier_rights_header_text {
        font-size: 18px !important;
    }

    .nav-item .custom_list_group_action {
        font-size: 18px !important;
        max-width: 250px !important;
    }

    .torture .tab-content .tab-pane .tab-header .contact_us_action .contact_us_action_title p,
    .soldier_rights .tab-content .tab-pane .tab-header .contact_us_action .contact_us_action_title p {
        font-size: 18px !important;
    }

    .torture .tab-content .tab-pane .tab-header,
    .soldier_rights .tab-content .tab-pane .tab-header {
        padding-inline: 10px;
    }

    .torture .tab-content .tab-pane .tab-main,
    .soldier_rights .tab-content .tab-pane .tab-main {
        padding-inline: 5px;
    }

    .torture_big_text {
        font-size: 16px !important;
    }

    .torture-card-text {
        font-size: 12px !important;
    }

    .torture_directions_applications .row .col {
        max-width: 230px;
        margin-inline: auto;
    }

    .torture-card-date p {
        font-size: 12px;
    }

    .torture .tab-content .tab-pane .tab-main .report_news,
    .torture .tab-content .tab-pane .tab-main .report_pdf,
    .soldier_rights .tab-content .tab-pane .tab-main .report_pdf {
        width: 290px;
    }
}
